extends layout

block content 
    section#cgu
      .row.center-block
        .col-xs-10.col-xs-offset-1.bgjuridique
          h2 CONDITIONS GÉNÉRALES D'UTILISATION DU SITE
          h3 www.chocolatenjoie.com
          br
          h4 ARTICLE 1. INFORMATIONS LÉGALES
          p
            | En vertu de l'article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé dans cet article l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
          p
            | Le site www.chocolatenjoie.com est édité par :
          p
            | Monsieur Alexis DUCERF, domicilié(e) à l'adresse suivante : 11 rue de Poissy, 75005 PARIS
          p Téléphone : 06.45.67.76.58/ Adresse e-mail : chocolatenjoie@yopmail.com
          p Le directeur de publication du site est :
          p Monsieur Alexis DUCERF.
          br
          p Le site www.chocolatenjoie.com est hébergé par :
          p
            | COCOA WEB DESIGN SA, dont le siège est situé 11, rue de Poissy - 2ème étage - 75005 PARIS
          p Numéro de téléphone : 06.45.67.76.58
          br
          h4 ARTICLE 2. PRÉSENTATION DU SITE
          p Le site www.chocolatenjoie.com a pour objet :
          p
            | Présentation de chocolats vendus au sein de la boutique "Chocolat en Joie" sis 11, rue de Poissy - 75005 PARIS ainsi que des ateliers effectués par Monsieur Alexis DUCERF.
          br
          h4 ARTICLE 3. CONTACT
          p
            | Pour toute question ou demande d'information concernant le site, ou tout signalement de contenu ou d'activités illicites, l'utilisateur peut contacter l'éditeur à l'adresse e-mail suivante: chocolatenjoie@yopmail.com ou adresser un courrier recommandé avec accusé de réception à : Monsieur Alexis DUCERF - Chocolat en Joie - 11 rue de Poissy, 75005 PARIS.
          br
          h4 ARTICLE 4. ACCEPTATION DES CONDITIONS D'UTILISATION
          p
            | L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes Conditions Générales d'Utilisation.
          p
            | L'éditeur se réserve le droit de modifier, à tout moment et sans préavis, le site et des services ainsi que les présentes CGU, notamment pour s'adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes.
          p
            | Il est donc conseillé à l'utilisateur de se référer avant toute navigation à la dernière version des CGU, accessible à tout moment sur le site. En cas de désaccord avec les CGU, aucun usage du site ne saurait être effectué par l'utilisateur.
          br
          h4 ARTICLE 5. ACCÈS ET NAVIGATION
          p
            | L'éditeur met en œuvre les solutions techniques à sa disposition pour permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l'accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jours, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.
          p
            | La connexion et la navigation sur le site www.chocolatenjoie.com valent acceptation sans réserve des présentes Conditions Générales d'Utilisation, quelques soient les moyens techniques d'accès et les terminaux utilisés.
          p
            | Les présentes CGU s'appliquent, en tant que de besoin, à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.
          br
          h4 ARTICLE 6. GESTION DU SITE
          p Pour la bonne gestion du site, l'éditeur pourra à tout moment :
          p
            | - suspendre, interrompre ou limiter l'accès à tout ou partie du site, réserver l'accès au site, ou à certaines parties du site, à une catégorie déterminée d'internaute ;
          p
            | - supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales, ou avec les règles de la Nétiquette ;
          p - suspendre le site afin de procéder à des mises à jour.
          br
          h4 ARTICLE 7. RESPONSABILITÉS
          p L'éditeur n'est responsable que du contenu qu'il a lui-même édité.
          p L'éditeur n'est pas responsable :
          p
            | - en cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu'il soit ;
          p
            | - des dommages directs ou indirects, matériels ou immatériels, prévisibles ou imprévisibles résultant de l'utilisation ou des difficultés d'utilisation du site ou de ses services ;
          p
            | - des caractéristiques intrinsèques de l'Internet, notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant ;
          p
            | - des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance au sens de la Loi à l'égard de traitement de données à caractère personnel.
          p
            | Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.
          p L'utilisateur est responsable :
          p - de la protection de son matériel et de ses données ;
          p - de l'utilisation qu'il fait du site ou de ses services ;
          p - s'il ne respecte ni la lettre, ni l'esprit des présentes CGU.
          br
          h4 ARTICLE 8. LIENS HYPERTEXTES
          p
            | Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels www.chocolatenjoie.com n'exerce pas de contrôle. Malgré les vérifications préalables et régulières réalisés par l'éditeur, celui-ci décline tout responsabilité quant aux contenus qu'il est possible de trouver sur ces sites.
          p
            | L'éditeur autorise la mise en place de liens hypertextes vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.
          p
            | En outre, l'information préalable de l'éditeur du site est nécessaire avant toute mise en place de lien hypertexte.
          p
            | Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite, violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.
          p
            | Enfin, www.chocolatenjoie.com se réserve le droit de faire supprimer à tout moment un lien hypertexte pointant vers son site, si le site l'estime non conforme à sa politique éditoriale.
          br
          h4 ARTICLE 9. COLLECTE DE DONNÉES
          p
            | Le site est déclaré à la Commission Nationale Informatique et Libertés (CNIL) sous le numéro 198 376.
          p
            | En outre, le site est conforme aux dispositions de la Loi n° Loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés modifiée le 7 octobre 2016. En vertu des dispositions de la loi précitée, l'utilisateur bénéficie, notamment, d'un droit d'opposition (articles 32 et 38), d'accès (articles 38 et 39) et de rectification (article 40) des données le concernant.
          p
            | Pour faire usage de l'un des droits précités, l'utilisateur doit s'adresser à l'éditeur en le contactant par e-mail à l'adresse suivante : chocolatenjoie@yopmail.com, ou par courrier recommandé adressé au domicile de l'éditeur en précisant ses nom, prénom(s), adresse et adresse(s) e-mail.
          br
          h4 ARTICLE 10. COOKIES
          p
            | Le site a éventuellement recours aux techniques de "cookies" lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d'améliorer le service pour le confort de l'utilisateur, lequel peut s'opposer à l'enregistrement de ces "cookies" en configurant son logiciel de navigation.
          br
          h4 ARTICLE 11. PROPRIÉTÉ INTELLECTUELLE
          p
            | La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques qui le composent sont la propriété de l'éditeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.
          p
            | Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site, par quelque procédé que ce soit, sans l'autorisation préalable, expresse et écrite de l'éditeur, est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. Et ce, à l'exception des éléments expressément désignés comme libres de droits sur le site.
          p
            | L'accès au site ne vaut pas reconnaissance d'un droit et, de manière générale, ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l'éditeur.
          p
            | Il est interdit à l'utilisateur d'introduire des données sur le site qui modifieraient ou qui seraient susceptibles d'en modifier le contenu ou l'apparence.
          #mentions
          br
          br
          br
          br
          h2 MENTIONS LEGALES
          h3 Siège Social
          br
          p Chocolat en Joie
          p Monsieur Alexis DUCERF
          p 11, rue de Poissy
          p 75005 PARIS
          p FRANCE
          br
          p RCS PARIS XXX XXX XXX
          p TVA Intra. n° FRXXXXXXXXXXX
          p Email : chocolatenjoie@yopmail.com
          p Tel.: 06.45.67.76.58
          h3 Droits d'auteur et copyright
          p
            | Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations photographiques. La reproduction de tout ou partie de ce site, sur quelque support que ce soit, est formellement interdite sauf autorisation expresse de l'éditeur du site, Monsieur Alexis DUCERF. Les documents ne peuvent faire l'objet de copies qu'à titre d'information, la copie étant réservée au seul usage privé.
          br
          br
          p Le site www.chocolatenjoie.com vous souhaite une excellente navigation !
          br
