<!DOCTYPE html>
<!--Internet explorer conditions-->
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--À approfondir-->
    <meta name="author" content="name">
    <meta name="description" content="texte explicatif 150 caractères max">
    <meta name="keywords" content="keywords,here">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="shortcut icon" href="../public/images/favicon.svg" type="../public/images/favicon.svg">
    <link rel="icon" type="../public/images/png" href="../public/images/favicon.png">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!--Fichier CSS-->
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    <!--Meta property et name pour réseaux sociaux-->
    <!-- Google console? -->
    <!-- URL canonique? -->
    <title>Chocolat en joie</title>
</head>
<body>
    <header>
       <!-- BARRE DE NAVIGATION -->
        <nav id="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded col-xs-12">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Accueil </a>
                    </li>
                    <li class="nav-item">
                        <a href="index.html">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pageProduits.html">Nos produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.pinterest.fr/eplougoulm/-chocolat-en-joie-nos-recettes/">Nos recettes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <div class="logo-navbar"><a href="index.html"></a></div>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link sliding-link" href="#goto-atelier">Nos ateliers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sliding-link" href="#goto-noustrouver">Nous trouver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">&#9670;</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Nous contacter</a>
                    </li>
                </ul>
            </div>
             <div class="social">
                    <ul class="item-social">
                        <li><img src="../public/images/_social-icons/i_facebook.svg" alt="facebook logo"></li>
                        <li><img src="../public/images/_social-icons/i_instagram.svg" alt="instagram logo"></li>
                        <li><img src="../public/images/_social-icons/i_pinterest.svg" alt="pinterest logo"></li>
                    </ul>
                </div>
        </nav>
    </header>

<!-- BURGER MENU -->

<div class="header-burger">
    <div class="burger-container">
        <div id="burger">
            <div class="bar topBar"></div>
            <div class="bar btmBar"></div>
        </div>
    </div>
    <ul class="menu ">
        <li class="menu-item"><a href="index.html">Accueil</a></li>
        <li class="menu-item"><a href="pageProduits.html">Nos produits</a></li>
        <li class="menu-item"><a href="recettes.html">Nos recettes</a></li>
        <li class="menu-item"><a href="#">Nos ateliers</a></li>
        <li class="menu-item"><a href="#">Nous trouver</a></li>
        <li class="menu-item"><a href="contact.html">Nous contacter</a></li>
    </ul>
</div>


    <!-- Section ACCUEIL -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center bghomepage">
                     <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="items-home-1">
                             <img class="logohome img-responsive" src="../public/images/logo-white.svg" alt="">
                         </div>
                        <h2 class="items-home">“Une vie sans chocolat <br>est une vie à laquelle manque l'essentiel...”</h2>
                        <div class="items-home"> 
                            <img src="../public/images/_accueil/bienvenue-white.svg" alt="">
                        </div>
                    </div>
            </div>
        </div>


    </section>


    <!-- Section MISE EN AVANT DE PRODUITS -->
    <section id="produits container-fluid">

        <div class="color">
            <div class="container-fluid">
                
                <div class="wrapper">

                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="titreProduct center-block text-center">Nos<br>suggestions</h2>
                            <p>Découvrez nos créations</p>
                        </div>
                    </div>

                    <div class="containerSuggestions">
                    
                        <div class="col-md-8 col-md-offset-2 col-xs-12">  
                                
                            
                            <div class="row ecartementTextEtImage">


            <!--  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                                <div class="col-sm-4"> <!-- Suggestion 1 -->
                                    <a href="#"><div class="suggestion-wrapper suggestion">
                                        <div class="row">
                                            <div class="col-sm-12 colNoPadding">
                                                <img class="img-responsive" src="../public/images/_section-produits/produit1.jpg" alt="">
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="text-center col-sm-12">
                                                <h3>Coffret<br>ganaches</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="text-center col-sm-12 suggestionNbPieces">
                                                <h4>15 pieces</h4>
                                            </div>
                                        </div>      
                                        
                                        <div class="row">
                                            <div class="text-center col-sm-6">
                                                <h5>15%</h5>
                                            </div>

                                            <div class="text-center col-sm-6 suggestionPoids">
                                                <h5>200g</h5>
                                            </div>
                                        </div>
                                    </div></a> 
                                </div>

            <!--  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


                                <div class="col-sm-4 "> <!-- Suggestion 1 -->
                                    <a href="#"><div class="suggestion-wrapper suggestion">
                                        <div class="row">
                                            <div class="col-sm-12 colNoPadding">
                                                <img src="../public/images/_section-produits/produit2.jpg" alt="">
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="text-center col-sm-12">
                                                <h3>Coffret<br>ganaches</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="text-center col-sm-12 suggestionNbPieces">
                                                <h4>15 pieces</h4>
                                            </div>
                                        </div>      
                                        
                                        <div class="row">
                                            <div class="text-center col-sm-6">
                                                <h5>15%</h5>
                                            </div>

                                            <div class="text-center col-sm-6 suggestionPoids">
                                                <h5>200g</h5>
                                            </div>
                                        </div>
                                    </div></a>  
                                </div>

            <!--  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                                <div class="col-sm-4"> <!-- Suggestion 1 -->
                                    <a href="#"><div class="suggestion-wrapper suggestion">
                                        <div class="row">
                                            <div class="col-sm-12 colNoPadding">
                                                <img src="../public/images/_section-produits/produit3.jpg" alt="">
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="text-center col-sm-12">
                                                <h3>Coffret<br>ganaches</h3>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="text-center col-sm-12 suggestionNbPieces">
                                                <h4>15 pieces</h4>
                                            </div>
                                        </div>      
                                        
                                        <div class="row">
                                            <div class="text-center col-sm-6">
                                                <h5>15%</h5>
                                            </div>

                                            <div class="text-center col-sm-6 suggestionPoids">
                                                <h5>200g</h5>
                                            </div>
                                        </div>
                                    </div></a>  
                                </div>
                               
                            </div> <!-- row -->


                        </div> <!-- Container-fluid 2 -->
                    </div>
                </div> <!-- wrapper -->
        
             </div> 
        </div> <!-- color -->
    

    
    </section>
    <!-- Section DÉMARCHE QUALITÉ-->

 <!-- 
   <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 text-center bghomepage">
                    <div class="items-wrap-home">
                        <div class="items-home"> <img src="image/logo-white.svg" alt=""></div>
                        <h2 class="items-home">“Une vie sans chocolat est une vie à laquelle manque l'essentiel...”</h2>
                        <div class="items-home"> <img src="image/_accueil/bienvenue-white.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>  -->
 

<section class="qualité container-fluid">
    <div class="row">  
    <div class="col-xs-12">       
    <div class="demarche-title">
    </div>
    <div class="containerlabels">
        <div class="item-label">
            <img src="../public/images/_section-demarche/logo5.svg">
            <h1>Circuits courts</h1>
            <p>Nos fournisseurs travaillent <br> tous en Île-de-France</p>

        </div>
        <div class="item-label">
            <img src="../public/images/_section-demarche/logo6.svg">
            <h1>Agriculture Bio</h1>
            <p>Pour nous pas d’alternative possible <br>
Bio is the next thing! </p>
        </div>
        <div class="item-label">
            <img src="../public/images/_section-demarche/logo7.svg">
             <h1>Sans OGM</h1>
            <p>Pas question de marier votre palet <br>
avec ces cochonneries. Ah ça non!</p>
        </div>
        <div class="item-label">
            <img src="../public/images/_section-demarche/logo8.svg">
             <h1>Sans Nucléaire</h1>
            <p>Ça va pas la tête?!!!!!!!</p>
        </div>
    </div>
    <div class="message-sympa">
        <h2>100% SYMPA <br>POUR LA NATURE</h2>
    </div>
    </div> 
</div>
</section>


 
   
    <!-- Section Atelier-->
    <!-- <section id="ateliers">
      <div id="goto-atelier"></div>
          <div class="container-fluid">

              <div class="row center-block">

                  <div class="col-lg-12 text-center bgateliers">
                      <h3 class="items-ateliers center-block">NOS<br>ATELIERS</h3>
          </div>
        </div>
        <div class="row center-block">
          <div class="col-lg-4 col-lg-offset-4 center-block text-center items-wrap-ateliers">
            <p>MERCREDI 19 OCTOBRE</p>
            <h2 class="items-ateliers">MOUSSE<br>AU CHOCOLAT</h2>
            <a href="contact.html"><button type="button" class="btn btn-default">Je m'inscris</button></a>
          </div>
        </div>
      </div>
    </section>
    -->


    <section id="ateliers">
      <div class="container-fluid" id="goto-atelier">
        <div class="row center-block">
          <div class="col-lg-12 text-center bgateliers">
            <h3 class="items-ateliers center-block">LES<br>ATELIERS</h3>
            <div class="items-wrap-ateliers center-block">
              <p>MERCREDI 19 OCTOBRE</p>
              <h2 class="items-ateliers">MOUSSE<br>AU CHOCOLAT</h2>
              <a href="contact.html"><button type="button" class="btn btn-default">Je m'inscris</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>



<!-- Section NOUS TROUVER-->


  <section id="localisation" class=" container-fluid">
    <div id="goto-noustrouver"></div>

              
      <div class="row">
        <div class="col-xs-12 center-block text-center title">
          <h2>Nous trouver</h2>
        </div>
      </div>
    

        <div class="row">
            <div class="col-xs-12 center-block iframe ">
                <iframe
                    
                    height="300"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/search?key=AIzaSyCrssm87fPaXFGodWXlx4ifBBvVUAn0Mc0&q=11+Rue+de+Poissy,Paris+France" allowfullscreen>
                </iframe>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                <br>
                <img src="../public/images/iconLieu.png" alt="Icone adresse" class="img-responsive center-block" width="8%">
                <br>
                <p>Chocolat en Joie
                <br>11, rue de Poissy
                <br>75005 PARIS
                <br> Tel. : 06 45 67 76 58</p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                <br>
                <img src="../public/images/iconHoraires.png" alt="Icone horaires d'ouverture" class="img-responsive center-block" width="8%">
                <br>
                <p>Notre boutique est ouverte
                <br>du lundi au samedi
                <br>de 09h00 à 20h00
                <br>(sans interruption)</p>
                <br>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 text-center">
                <br>
                <img src="../public/images/iconMetro.png" alt="Icone du métro" class="img-responsive center-block" width="8%">
                <br>
                <p>Ligne 10 : Jussieu ou Maubert Mutualité
                <br>Ligne 7 : Jussieu</p>
            </div>  
    </section>

  <!-- Footer -->
    
  <div class="content"></div>
    <footer id="myFooter">
       <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img src="../public/images/logo-white.svg" alt="Logo Chocolat en Joie"/>
                        </div>
            <div class="col-sm-2">
                <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="pageProduits.html">Nos produits</a></li>
                <li><a href="recettes.html">Nos recettes</a></li>
                </ul>
                </div>
                <div class="col-sm-2">
                    <ul>
                        <li><a href="#goto-atelier">Nos ateliers</a></li>
                        <li><a href="#goto-noustrouver">Nous trouver</a></li>
                        <li><a href="contact.html">Nous contacter</a></li>
                    </ul>
              </div>
              <div class="col-sm-2">
                <ul>
                    <li><a href="juridique.html">CGU</a></li>
                    <li><a href="juridique.html#mentions">Mentions légales</a></li>
                </ul>
              </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </div>
                    <a href="contact.html"><button type="button" class="btn btn-default">Contactez nous</button></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2017 Chocolat en Joie</p>
        </div>
    </footer>
    
<!--/.Footer-->

<!--Google analytic-->
   <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Global Javascript file -->
    <script src="../public/javascripts/script.js"></script>
   Utilisation des cookies 
      <script src="../public/javascripts/cookiechoices.js"></script>
      <script>document.addEventListener ('DOMContentLoaded', function(event) {
        cookieChoices.showCookieConsentBar ('En poursuivant votre navigation sur notre site, vous acceptez le dépôt de cookies qui nous permettront de vous proposer des contenus adaptés, d\’analyser le trafic et d\’effectuer des statistiques.', 'J\’accepte', 'En savoir plus', 'https://www.cnil.fr/fr');
        });
      </script>
    <!-- Gestion des ancres -->

      <script src="../public/javascripts/ancres.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




  </body>
</html>